#header-section {
 /*    height: 40rem; */
    background-color: #2F313D;
    color: #F6F8ED;
    font-size: 3rem;
}
    
body {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
}

#section-light {
/*    height: 40rem; */
    background-color: whitesmoke;
    background-image: url("");
    color: dimgrey;
}

#section-dark {
/*    height: 40rem; */
    background-color: #2F313D;
    color: #F6F8ED;
}